<div class="admission-process layout-1440">
  <h2 class="admission-process__title" id="admission-process">
    Процесс поступления
  </h2>
  <div class="admission-process__container">
    <div class="admission-process__item">
      <h2 class="admission-process__item-number">1</h2>
      <div class="admission-process__item-info">
        <h4 class="admission-process__item-title">Подача заявления</h4>
        <p class="admission-process__item-description">
          Подача
          <a class="orange-link" href="#documents">заявления</a> на обучение в
          военно-учебный центр происходит в добровольном порядке
        </p>
      </div>
    </div>
    <div class="admission-process__item">
      <h2 class="admission-process__item-number">2</h2>
      <div class="admission-process__item-info">
        <h4 class="admission-process__item-title">Получение направления</h4>
        <p class="admission-process__item-description">
          Направление в военкомат выдается в военном учебном центре для
          прохождения предварительного отбора
        </p>
      </div>
    </div>
    <div class="admission-process__item">
      <h2 class="admission-process__item-number">3</h2>
      <div class="admission-process__item-info">
        <h4 class="admission-process__item-title">
          Подготовка медицинских документов
        </h4>
        <p class="admission-process__item-description">
          Подготовка медицинских документов производится самостоятельно в
          медицинских учреждениях согласно
          <a class="orange-link" href="#documents">перечню</a>
        </p>
      </div>
    </div>
    <div class="admission-process__item">
      <h2 class="admission-process__item-number">4</h2>
      <div class="admission-process__item-info">
        <h4 class="admission-process__item-title">
          Медицинское освидетельствование
        </h4>
        <p class="admission-process__item-description">
          Участие в медицинском освидетельствовании и профессиональном
          психологическом отборе в военном комиссариате по месту воинского учета
        </p>
      </div>
    </div>
    <div class="admission-process__item">
      <h2 class="admission-process__item-number">5</h2>
      <div class="admission-process__item-info">
        <h4 class="admission-process__item-title">Передача результатов</h4>
        <p class="admission-process__item-description">
          Предоставление результатов предварительного отбора в отделение приема
          и кадров ВУЦ при АГУ
        </p>
      </div>
    </div>
    <div class="admission-process__item">
      <h2 class="admission-process__item-number">6</h2>
      <div class="admission-process__item-info">
        <h4 class="admission-process__item-title">Предоставление документов</h4>
        <p class="admission-process__item-description">
          Предоставление документов для участия в основном отборе согласно
          <a class="orange-link" href="#documents">перечню</a>
        </p>
      </div>
    </div>
  </div>
  <div class="admission-process__preview">
    <img src="../../../images/soldier-preview.png" loading="lazy" alt="" />
    <svg
      class="admission-process__preview-rectangle"
      width="695"
      height="1684"
      viewBox="0 0 695 1684"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      loading="lazy"
    >
      <rect
        x="-354"
        y="-184"
        width="1483.51"
        height="1483.51"
        transform="rotate(45 -354 -184)"
        fill="#FAFEFD"
      />
    </svg>
  </div>
</div>
