<div class="educational-base layout-1440">
  <h2 class="educational-base__title" id="about">
    Учебно-материальная база ВУЦ
  </h2>
  <p class="educational-base__text">
    Для размещения военного учебного центра выделено отдельное трехэтажное
    здание, а также прилегающие территории под строевой плац, тактическое поле,
    стоянки вооружения и военной техники, по адресу Астраханская область, г.
    Астрахань, кампус АГУ по ул. С. Перовской, 96в.
  </p>
  <img
    class="educational-base__map"
    src="../../../images/map.png"
    loading="lazy"
    alt=""
  />
</div>
