<div class="specialties layout-1440">
  <h2 class="specialties__title">Военно-учетные специальности</h2>
  <div class="specialties__container">
    <div class="specialties__info">
      <p class="specialties__text">
        Заказчиком военной подготовки в ВУЦ выступает Главное командование
        Воздушно-космических сил по трем военно-учетным специальностям.
      </p>
      <br />
      <p class="specialties__text">
        После подготовки в ВУЦ срочную службу в рядах Вооруженых Сил Российской
        Федерации проходить не нужно!
      </p>
    </div>
    <ul class="specialties__list">
      <li class="specialties__item">
        Старший авиационный механик самолетов с реактивными, турбореактивными и
        турбовинтовыми двигателями
      </li>
      <li class="specialties__item">
        Старший механик по обслуживанию и ремонту планера и двигательных
        установок беспилотных летательных аппаратов
      </li>
      <li class="specialties__item">
        Авиационный механик радиотехнического оборудования крылатых ракет и
        беспилотных летательных аппаратов
      </li>
    </ul>
  </div>
</div>
