<div class="documents layout-1440">
  <h2 class="documents__title" id="documents">Образцы документов</h2>
  <div class="documents__container">
    <a
      href="https://docs.yandex.ru/docs/view?url=ya-disk-public%3A%2F%2FpWBnqMGlc%2FPmXk%2FUzcaZq%2BalW99Trjmh5fT1i8lqHCKG45IK0GVrVCgprxeIe4w4q%2FJ6bpmRyOJonT3VoXnDag%3D%3D%3A%2Fзаявления.doc&name=заявления.doc&nosw=1"
      target="_blank"
      class="document"
    >
      <div class="document__icon">
        <svg>
          <use xlink:href="images/sprite.svg#icons--download"></use>
        </svg>
      </div>
      <span class="document__text">Заявление</span>
    </a>
    <a
      href="https://docs.yandex.ru/docs/view?url=ya-disk-public%3A%2F%2FpWBnqMGlc%2FPmXk%2FUzcaZq%2BalW99Trjmh5fT1i8lqHCKG45IK0GVrVCgprxeIe4w4q%2FJ6bpmRyOJonT3VoXnDag%3D%3D%3A%2FСогласие_на_обработку_персональных_данных.doc&name=Согласие_на_обработку_персональных_данных.doc"
      target="_blank"
      class="document"
    >
      <div class="document__icon">
        <svg>
          <use xlink:href="images/sprite.svg#icons--download"></use>
        </svg>
      </div>
      <span class="document__text"
        >Согласие на обработку персональных данных</span
      >
    </a>
    <a
      href="https://disk.yandex.ru/d/81m_P6oPI4w76Q"
      target="_blank"
      class="document"
    >
      <div class="document__icon">
        <svg>
          <use xlink:href="images/sprite.svg#icons--download"></use>
        </svg>
      </div>
      <span class="document__text"
        >Справка об отсутсвии / наличии судимости</span
      >
    </a>
    <a
      href="https://disk.yandex.ru/d/81m_P6oPI4w76Q"
      target="_blank"
      class="document"
    >
      <div class="document__icon">
        <svg>
          <use xlink:href="images/sprite.svg#icons--download"></use>
        </svg>
      </div>
      <span class="document__text">Медицинское освидетельствование</span>
    </a>
    <a
      href="https://docs.yandex.ru/docs/view?url=ya-disk-public%3A%2F%2FpWBnqMGlc%2FPmXk%2FUzcaZq%2BalW99Trjmh5fT1i8lqHCKG45IK0GVrVCgprxeIe4w4q%2FJ6bpmRyOJonT3VoXnDag%3D%3D%3A%2Fавтобиография.docx&name=автобиография.docx"
      target="_blank"
      class="document"
    >
      <div class="document__icon">
        <svg>
          <use xlink:href="images/sprite.svg#icons--download"></use>
        </svg>
      </div>
      <span class="document__text">Автобиография</span>
    </a>
    <a
      href="https://docs.yandex.ru/docs/view?url=ya-disk-public%3A%2F%2FpWBnqMGlc%2FPmXk%2FUzcaZq%2BalW99Trjmh5fT1i8lqHCKG45IK0GVrVCgprxeIe4w4q%2FJ6bpmRyOJonT3VoXnDag%3D%3D%3A%2Fанкета.doc&name=анкета.doc&nosw=1"
      target="_blank"
      class="document"
    >
      <div class="document__icon">
        <svg>
          <use xlink:href="images/sprite.svg#icons--download"></use>
        </svg>
      </div>
      <span class="document__text">Анкета</span>
    </a>
    <a
      href="https://disk.yandex.ru/d/81m_P6oPI4w76Q"
      target="_blank"
      class="document"
    >
      <div class="document__icon">
        <svg>
          <use xlink:href="images/sprite.svg#icons--download"></use>
        </svg>
      </div>
      <span class="document__text"
        >Таблица перевода среднего балла по зачетной книжке в 100 бальную шкалу
        оценки успеваемости</span
      >
    </a>
    <!-- <div class="document document--empty"></div> -->
    <a
      href="https://disk.yandex.ru/d/81m_P6oPI4w76Q"
      target="_blank"
      class="document"
    >
      <div class="document__icon">
        <svg>
          <use xlink:href="images/sprite.svg#icons--download"></use>
        </svg>
      </div>
      <span class="document__text"
        >Таблица начисления баллов на выполнение упражнений по физической
        подготовке</span
      >
    </a>
    <a
      href="https://docs.yandex.ru/docs/view?url=ya-disk-public%3A%2F%2FpWBnqMGlc%2FPmXk%2FUzcaZq%2BalW99Trjmh5fT1i8lqHCKG45IK0GVrVCgprxeIe4w4q%2FJ6bpmRyOJonT3VoXnDag%3D%3D%3A%2Fперечень%20спец%20и%20ВУС.doc&name=перечень%20спец%20и%20ВУС.doc"
      target="_blank"
      class="document"
    >
      <div class="document__icon">
        <svg>
          <use xlink:href="images/sprite.svg#icons--download"></use>
        </svg>
      </div>
      <span class="document__text"
        >Протокол конкурсного отбора граждан, желающих пройти военную
        подготовку</span
      >
    </a>
    <a
      href="https://docs.yandex.ru/docs/view?url=ya-disk-public%3A%2F%2FpWBnqMGlc%2FPmXk%2FUzcaZq%2BalW99Trjmh5fT1i8lqHCKG45IK0GVrVCgprxeIe4w4q%2FJ6bpmRyOJonT3VoXnDag%3D%3D%3A%2Fдоговор.doc&name=договор.doc&nosw=1"
      target="_blank"
      class="document"
    >
      <div class="document__icon">
        <svg>
          <use xlink:href="images/sprite.svg#icons--download"></use>
        </svg>
      </div>
      <span class="document__text"
        >Договор об обучении в военном учебном центре</span
      >
    </a>
    <a
      href="https://disk.yandex.ru/d/81m_P6oPI4w76Q"
      target="_blank"
      class="document"
    >
      <div class="document__icon">
        <svg>
          <use xlink:href="images/sprite.svg#icons--download"></use>
        </svg>
      </div>
      <span class="document__text">Направление</span>
    </a>
  </div>
  <button class="documents__more" id="more-button" type="button">
    Все образцы документов
  </button>
</div>
