<div class="requirements layout-1440" id="requirements">
  <div class="requirements__container">
    <h2 class="requirements__title">Требования для поступления</h2>
    <p class="requirements__text">
      Отбор в ВУЦ АГУ могут пройти все первокурсники очной формы обучения
      бакалавриата или специалитета до 30 лет являющиеся гражданами РФ.
    </p>
    <br /><br />
    <p class="requirements__text">
      Отбор студентов на обучение проходит по медицинским показателям,
      профессиональному психологическому отбору, уровню физической подготовки и
      успеваемости в университете.
    </p>
  </div>
  <div class="requirements__image">
    <img src="../../../images/asu.png"  alt="" />
  </div>
</div>
<div class="after-requirements layout-1440">
  <h4 class="after-requirements__title">
    Какие граждане<br />
    не рассматриваются для поступления в ВУЦ?
  </h4>
  <ul class="after-requirements__list">
    <li class="after-requirements__item">
      В отношении которых вынесен обвинительный приговор и которым назначено
      наказание
    </li>
    <li class="after-requirements__item">
      В отношении которых ведется дознание, либо предварительное следствие, или
      уголовное дело
    </li>
    <li class="after-requirements__item">
      Имеющие неснятую или непогашенную судимость за совершение преступления
    </li>
  </ul>
</div>
