<div class="training-programs layout-1440">
  <h2 class="training-programs__title">Программы подготовки</h2>
  <div class="training-programs__container">
    <div class="training-programs__item">
      <div class="training-programs__item-info">
        <h4 class="training-programs__item-title">Сержант запаса</h4>
        <p class="training-programs__item-text">
          Обучение проводится методом «военного дня», включая прохождение
          учебных сборов в течение одного месяца после 6-го семестра в воинских
          частях Министерства обороны РФ и государственную итоговую аттестацию.
          Гражданам, успешно освоившим указанную программу, после окончания
          университета присваивается воинское звание «сержант» с зачислением в
          запас.
        </p>
        <br /><br />
        <p
          class="training-programs__item-text training-programs__item-text--inner"
        >
          Обучение по программе военной подготовки “Сержантов запаса” состовляет
          360 часов аудиторных занятий и 144 часа учебного времени на учебных
          сборах.
        </p>
      </div>
      <div class="training-programs__item-img">
        <img src="../../../images/serjant.png" alt="Сержант запаса" />
      </div>
    </div>
    <div class="training-programs__item training-programs__item--inverse">
      <div class="training-programs__item-info">
        <h4 class="training-programs__item-title">Солдат запаса</h4>
        <p class="training-programs__item-text">
          Обучение проводится методом «военного дня», включая прохождение
          учебных сборов в течение одного месяца после 6-го семестра в воинских
          частях Министерства обороны РФ и государственную итоговую аттестацию.
          Гражданам, успешно освоившим указанную программу, после окончания
          университета присваивается воинское звание «рядовой» с зачислением в
          запас. <br /><br />
        </p>
        <p
          class="training-programs__item-text training-programs__item-text--inner"
        >
          Обучение по программе военной подготовки “Солдат запаса” составляет
          270 часов аудиторных занятий и 144 часа учебного времени на учебных
          сборах.
        </p>
      </div>
      <div class="training-programs__item-img">
        <img src="../../../images/soldier.png" alt="Сержант запаса" />
      </div>
    </div>
  </div>
</div>
