<div class="header layout-1440">
  <div class="header__logo">
    <a href="/">@@include('../images/logo.html')</a>
  </div>
  <ul class="header__links">
    <li class="header__link"><a href="#requirements">требования</a></li>
    <li class="header__link"><a href="#admission-process">как поступить</a></li>
    <li class="header__link"><a href="#documents">образцы документов</a></li>
    <li class="header__link"><a href="#about">об учебном центре</a></li>
  </ul>
  <div class="header__contacts">
    <a class="header__phone phone-link" href="tel:+79171749519"
      >+7 (917) 174 95 19
      <img src="../../../images/phone.svg" alt="" />
    </a>
    <a class="phone-link" href="https://t.me/vucAstraGU"
      >@vucAstraGU
      <img src="../../../images/telegram.svg" alt="" />
    </a>
  </div>
  <div class="header__burger">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      height="30"
      viewBox="0 0 30 30"
      fill="none"
    >
      <rect
        class="header__burger-line"
        x="5"
        y="6"
        width="20"
        height="2"
        fill="#FAFEFD"
      />
      <rect
        class="header__burger-line"
        x="5"
        y="14"
        width="20"
        height="2"
        fill="#FAFEFD"
      />
      <rect
        class="header__burger-line"
        x="5"
        y="22"
        width="20"
        height="2"
        fill="#FAFEFD"
      />
    </svg>
  </div>
</div>
