<div class="menu">
  <div class="menu__body">
    <a сlass="menu__logo" href="/">@@include('../images/logo.html')</a>
    <ul class="menu__links">
      <li class="menu__link">
        <a class="menu-link" href="#requirements">требования</a>
      </li>
      <li class="menu__link">
        <a class="menu-link" href="#admission-process">как поступить</a>
      </li>
      <li class="menu__link">
        <a class="menu-link" href="#documents">образцы документов</a>
      </li>
      <li class="menu__link">
        <a class="menu-link" href="#about">об учебном центре</a>
      </li>
    </ul>
  </div>
  <div class="menu__bottom">
    <p class="menu__bottom-text">
      Военный учебный центр Астраханского государственного университета имени В.
      Н. Татищева
    </p>
    <a class="menu__bottom-phone phone-link" href="tel:+79171749519">
      +7 (917) 174 95 19
    </a>
    <a class="menu__bottom-telegram phone-link" href="https://t.me/vucAstraGU">
      @vucAstraGU
    </a>
  </div>
</div>
