<div class="footer layout-1440">
  <div class="footer__left">
    <div class="footer__logo">@@include('../images/logo.html')</div>
    <p class="footer__text">
      Военный учебный центр <br />Астраханского государственного университета
      имени В. Н. Татищева
    </p>
  </div>
  <div class="footer__links">
    <a href="/" class="footer__link orange-link">
      Положение о военном учебном центре при Федеральном государственном
      бюджетном образовательном учреждении
    </a>
    <a href="/" class="footer__link orange-link">
      Правила конкурсного отбора и допуска граждан к обучению в ВУЦ
    </a>
    <a href="/" class="footer__link orange-link">
      Правила внутреннего распорядка ВУЦ
    </a>
  </div>
</div>
